.refreshButton {
  font-size: var(--gitops-table-cell-font-size);
  font-weight: var(--gitops-table-cell-font-weight);
}

@media (max-width: 850px) {
  .tableWrapper {
    overflow-x: auto;
  }

  .pagination {
    flex-direction: column;
    align-items: stretch;
  }

  .toolbarContent {
    flex-direction: column;
    align-items: stretch;
  }

  .searchControl {
    width: 100%;
    flex-basis: auto;
  }

  .refreshButton {
    margin-left: 0;
  }
}
